@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Science+Gothic:wght@100..900&display=swap');

body {
    font-family: 'Poppins', 'Science Gothic', sans-serif;
    background-color: #0D1117;
    color: #E6EDF3;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    margin-top: 16px;
}

ul a {
    color: #E6EDF3;
    text-decoration: none;
}

img {
    width: 500px;
    display: block;
    margin: auto;
    margin-top: 16px;
}

p {
    text-align: center;
    font-size: 24px;
    margin-top: 16px;
}

.img1 {

}

.img1 a {
    text-decoration: none;
}


.img2 a {
     text-decoration: none;

}

a {
    color:##58A6FF;
    text-decoration: none;
    text-decoration-line: none;
}

